<section id="sub-menu">
    <div class="row container">
        <div class="col-md-3">
            <h2>Opplysningstyper</h2>
        </div>
        <div class="col-md-3">
            <ul>
                <li><a href="#">Falsk ID</a></li>
                <li><a href="#">Utenlandsk ID</a></li>
                <li><a href="#">Folkeregisterident</a></li>
                <li><a href="#">Opplysninger om dødsbo</a></li>
            </ul>
        </div>
        <div class="col-md-3">
            <ul>
                <li><a href="#">Navn</a></li>
                <li><a href="#">Sivilstand</a></li>
                <li><a href="#">Relasjoner</a></li>
                <li><a href="#">Legitimasjonskontroll</a></li>
            </ul>
        </div>
        <div class="col-md-3">
            <ul>
                <li><a href="#">Bostedsadresse</a></li>
                <li><a href="#">Oppholdsadresse</a></li>
                <li><a href="#">Postadresse</a></li>
                <li><a href="#">Digital kontaktinformasjon</a></li>
            </ul>
        </div>
    </div>
</section>