<section id="sub-menu" style="height: 500px;">
    <div class="row container large">
        <div class="col-md-3">
            <h2>Opplysningstyper</h2>
        </div>
        <div class="col-md-3">
            <ul>
                <li><h3>Identifiserende opplysninger</h3></li>
                <li><a href="opplysningstyper.html#Fødsel">Fødsel</a></li>
                <li><a href="opplysningstyper.html#Navn">Navn</a></li>
                <li><a href="opplysningstyper.html#Folkeregisterident">Folkeregisterident</a></li>
                <li><a href="opplysningstyper.html#Kjønn">Kjønn</a></li>
                <li><a href="opplysningstyper.html#Statsborgerskap">Statsborgerskap</a></li>
                <li><a href="opplysningstyper.html#Død">Død</a></li>
                <li><h3>Identitetsforvaltning</h3></li>
                <li><a href="opplysningstyper.html#"></a>Alle identer</li>
                <li><a href="opplysningstyper.html#"></a>Utenlandsk ID</li>
                <li><a href="opplysningstyper.html#"></a>Falsk ID</li>
                <li><a href="opplysningstyper.html#"></a>Kontrollert</li>
                <li><a href="opplysningstyper.html#"></a>Personstatus</li> <!-- 13 --->
            </ul>
        </div>
        <div class="col-md-3">
            <ul>
                <li><h3>Adresser</h3></li>
                <li><a href="#">Alle adressetyper</a></li>
                <li><a href="#">Delt bosted</a></li>
                <li><h3>Opphold</h3></li>
                <li><a href="#">Inn- og utflytting</a></li>
                <li><a href="#">Oppholdsstatus</a></li>
                <li><h3>Relasjoner og familie</h3></li>
                <li><a href="#">Sivilstand</a></li>
                <li><a href="#">Sivilstandsrelasjon</a></li>
                <li><a href="#">Delt bosted</a></li>
                <li><a href="#">Foreldreansvar</a></li>
            </ul>
        </div>
        <div class="col-md-3">
            <ul>
                <li><h3>Kommunikasjon med brukeren</h3></li>
                <li><a href="#">Telefon</a></li>
                <li><a href="#">Språk og målform</a></li>
                <li><a href="#">Tilrettelagt kommunikasjon</a></li>
                <li><a href="#">Sikkerhetstiltak</a></li>
                <li><a href="opplysningstyper.html#Adressegradering">Adressegradering</a></li>
                <li><h3>Representasjon</h3></li>
                <li><a href="#">Verge</a></li>
                <li><a href="#">Kontaktopplysninger for dødsbo</a></li>
                <li><a href="#">Fullmakt</a></li>
                <li><a href="#">Fremtidsfullmakt</a></li>
                <li><a href="#">Foreldreansvar</a></li>
            </ul>
        </div>
    </div>
</section>