<section id="sub-menu">
    <div class="row container">
        <div class="col-md-3">
            <h2>Opplysningstyper</h2>
        </div>
        <div class="col-md-3">
            <ul>
                <li><a href="opplysningstyper.html#Falsk ID">Falsk ID</a></li>
                <li><a href="opplysningstyper.html#Utenlandsk ident">Utenlandsk ident</a></li>
                <li><a href="opplysningstyper.html#Folkeregisterident">Folkeregisterident</a></li>
                <li><a href="opplysningstyper.html#Opplysninger om dødsbo">Opplysninger om dødsbo</a></li>
            </ul>
        </div>
        <div class="col-md-3">
            <ul>
                <li><a href="#">Navn</a></li>
                <li><a href="#">Sivilstand</a></li>
                <li><a href="#">Relasjoner</a></li>
                <li><a href="#">Legitimasjonskontroll</a></li>
            </ul>
        </div>
        <div class="col-md-3">
            <ul>
                <li><a href="#">Bostedsadresse</a></li>
                <li><a href="#">Oppholdsadresse</a></li>
                <li><a href="#">Postadresse</a></li>
                <li><a href="#">Digital kontaktinformasjon</a></li>
            </ul>
        </div>
    </div>
</section>