<section id="sub-menu">
    <div class="row container">
        <div class="col-md-3">
            <h2>Tema</h2>
        </div>
        <div class="col-md-3">
            <ul>
                <li><a href="#">Tilgangsstyring</a></li>
                <li><a href="#">Innebygget personvern</a></li>
                <li><a href="#">Formål og hjemler</a></li>
                <li><a href="#">Om dataene våre</a></li>
            </ul>
        </div>
        <div class="col-md-3">
            <ul>
                <li><a href="#">Vårt ansvar</a></li>
                <li><a href="#">Ditt ansvar som konsument</a></li>
                <li><a href="#">Ditt ansvar som produsent</a></li>
                <li><a href="#">Om arkitekturen</a></li>
            </ul>
        </div>
    </div>
</section>