<section id="sub-menu">
    <div class="row container">
        <div class="col-md-3">
            <h2>Tema</h2>
        </div>
        <div class="col-md-3">
            <ul>
                <li><a href="#">APIer og hendelser</a></li>
                <li><a href="#">Tilgangsstyring</a></li>
                <li><a href="#">Ett register - flere mastre</a></li>
                <li><a href="#">Historikk og gyldighet</a></li>
                <li><a href="#">Test og miljø</a></li>
            </ul>
        </div>
        <div class="col-md-3">
            <ul>
                <li><a href="#">Migrering fra TPS til PDL</a></li>
                <li><a href="#">Personforvalteren</a></li>
                <li><a href="#">DREK - Dnr-rekvirering</a></li>
                <li><a href="#">Ofte stilte spørsmål</a></li>
                <li><a href="#">Om arkitekturen</a></li>
            </ul>
        </div>
    </div>
</section>
